
<!--<div class="footer container">-->
<!--		<div class="row">-->
<!--			<div class="col">-->
<!--				<p>The Committee on World Food Security (CFS) is the foremost inclusive international and intergovernmental platform for all stakeholders to work together to ensure food security and nutrition for all. CFS holds an annual Plenary session every October in FAO, Rome. </p>-->
<!--			</div>-->
<!--        </div>-->
<!--</div>-->
