<% include partials/header.ejs %>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center">CFS Decisions</h1>
    <p class="lead text-center">Search all decisions endorsed by the Comittee on World Food Security</p>
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 ">
        <form class="input-group mb-3 mt-5" action="/" method="GET">
  <input name="search" type="text" class="form-control" id="search" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
      </div>
    </div>

</div>
  </div>
</div
            


<% include partials/footer.ejs %>
<% include partials/scripts.ejs %>