@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

html, body{
    font-family: 'Open Sans', serif;
    font-weight: 300;
    color: #333;
}

h1, h2, h3, h4, h5, h6, a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.display-4{
    font-weight: 700;
}